[submodule "applications/my-apps/matt/pacman"]
	path = applications/my-apps/matt/pacman
	url = https://github.com/matt-platts/pacman-2016.git
[submodule "applications/my-apps/matt/battleships"]
	path = applications/my-apps/matt/battleships
	url = https://github.com/matt-platts/battleships.git
